body
{
    margin:0;
    padding:0;
    font-family:sans-serif;
    
    
}
#header
{
    height:100vh;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0.3)),url("images/bg6.jpg");
    
    background size:cover;
    
    background-attachment:fixed;
}

}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: #808080;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 30px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  font-size: 25px;
}

nav a:hover {
  color: blanchedalmond;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}
.hexagon{
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  background: url("images/ankita1.jpg") ;
  background-size: cover;
  margin: auto ;
  height: 200px;
  width: 200px; 
  
}
 .user-box{
     top:70%;
     left:50%;
     transform:translate(-50%,-50%);
     position:absolute;
}
 .user-box h1{  
    color:blanchedalmond;
    font-weight:bold;
    text-align:center;
    
    margin:50px 400px 50px 400px;
}
.user-box p{
    color:blanchedalmond;
}


